
com-qrcode-tool/.classpath
com-qrcode-tool/.project
com-qrcode-tool/.settings/org.eclipse.core.resources.prefs
com-qrcode-tool/.settings/org.eclipse.jdt.core.prefs
com-qrcode-tool/.settings/org.eclipse.m2e.core.prefs
